@model EmployeeDetailsDto

@* //Return Id[PK], Name, Age, Address, Is Active, Salary , Email , Phone Number, HiringDate Gender and EmployeeType *@
<partial name="PartialViews/_DetailsDeleteEmployee"></partial>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
</div>

