@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">

            <p>
                Password Link has been sent to Your Mail Please CheckYour Inbox
            </p>
            <p>
                <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
            </p>
    </div>
</div>

